*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}

body {
min-height: 100vh;
}
/* Media responsive */
img,picture,svg,video {
display: block;
max-width: 100%;
}

h1,h2 {
/*text-wrap: balance;*/
padding-bottom: 1rem; /*to distinguish the question and the answer section*/
}

h2{
    color:#4e5980; /*change the question color*/
    font-size: 3.5ch;
}

p {
font-size: 1.5rem;
max-width: 75ch;
text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
:has(:target) {
scroll-behavior: smooth;
scroll-padding-top: 3rem;
}
}
/*created box to put the content in like questions and answers*/
div {
    width: 60%;
    background: rgb(255, 227, 215);
    border: 0;
    border-radius: 10px;
    padding: 35px;
    margin: 20px auto; /*make it stay in the middle*/
    color:#2f4858; /*change the input text color*/
}

/*created a title box and change the background color to make it different among the content box*/
#container1{
    width: 70%;
    background:linear-gradient(45deg, rgb(78, 89, 128), rgb(47, 72, 88));
    border: 0;
    padding: 35px;
    margin: 20px auto;
    color: aliceblue;
    text-align: center;
    font-family: copperplate; /*change the text-font of the title*/
  }

body{
  background: linear-gradient(45deg, rgb(254, 164, 67), rgb(249, 121, 109));
}

